<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Codecool Shop</title>

    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-1.10.2.js" defer></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


    <!--fontawesome-->
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js"
            integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+"
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" defer/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" defer/>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" defer></script>

    <script src="/static/js/add_item_to_cart.js"></script>

    <script src="/static/js/filter.js" defer></script>

    <script type="text/javascript" src="/static/js/fly_to_element.js" defer></script>

    <link href="https://fonts.googleapis.com/css?family=Architects+Daughter|IM+Fell+English:400,400i" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/static/css/custom.css" />
</head>

<body class="lots-main-page-body">
<div class="container-fluid">
    <div class="lots-title text-center mt-5">
        <a href="/"><img class="lots-title-image" src="/static/img/quest_store_title.png" alt="Quest Store"></a>
    </div>
    <div id="shoppingCart" class="container-fluid lots-justify-content-around" style="vertical-align:bottom">
        <div id="filter" style="position: relative; top: 20px">
            <form action="/" class="form-inline">
                <label for="select-category">
                    Category
                </label>
                <select name="select_category" id="select-category" class="form-control lots-filter-input" style="margin-right:10px">
                    <option value="All" selected>All</option>
                    <option th:each="cat,itrStat : ${category_list}" th:text="${cat.getName()}" th:value="${cat.getName()}" th:selected="${cat.getName()==category.getName()}"></option>
                </select>
                <label for="select-supplier">
                    Supplier
                </label>
                <select name="select_supplier" id="select-supplier" class="form-control lots-filter-input">
                    <option value="All" selected>All</option>
                    <option th:each="sup,itrStat : ${supplier_list}" th:text="${sup.getName()}" th:value="${sup.getName()}" th:selected="${sup.getName()==supplier.getName()}"></option>
                </select>
                <button type="button" formmethod="get" id="filter-button" class="btn btn-warning" style="margin-left:10px">
                    Filter
                </button>
            </form>
        </div>

        <p id="numberOfItems" style="font-size: 22px; position: relative; top: 20px; width: 30px;" th:text="${number_of_items} + ' items'" ></p>
        <a id="goToCart" class="cart-anchor" href="/shoppingcart"><img id="cart-image" src="/static/img/Silver_Chest.png"></a>
        <p id="totalPrice" style="font-size: 22px;position: relative; top: 20px; left:-70px" th:text="${total_price}"></p>
    </div>
    <div class="container-fluid">

    </div>
</div>

<div class="container">
    <!--<div id="filter">-->
        <!--<form action="/" class="form-inline">-->
            <!--<label for="select-category">-->
                <!--Category-->
            <!--</label>-->
            <!--<select name="select_category" id="select-category" class="form-control lots-filter-input">-->
                <!--<option value="All" selected>All</option>-->
                <!--<option th:each="cat,itrStat : ${category_list}" th:text="${cat.getName()}" th:value="${cat.getName()}" th:selected="${cat.getName()==category.getName()}"></option>-->
            <!--</select>-->
            <!--<label for="select-supplier">-->
                <!--Supplier-->
            <!--</label>-->
            <!--<select name="select_supplier" id="select-supplier" class="form-control lots-filter-input">-->
                <!--<option value="All" selected>All</option>-->
                <!--<option th:each="sup,itrStat : ${supplier_list}" th:text="${sup.getName()}" th:value="${sup.getName()}" th:selected="${sup.getName()==supplier.getName()}"></option>-->
            <!--</select>-->
            <!--<button type="button" formmethod="get" id="filter-button" class="btn btn-warning">-->
                <!--Filter-->
            <!--</button>-->
        <!--</form>-->
    <!--</div>-->

    <div id="products" class="lots-justify-content-around">

        <div class="lots-productcard" th:each="prod,iterStat : ${products}" th:id="'product_' + ${prod.id}">
            <div class="lots-top_divider"></div>
            <h4 class="lots-supplier_text" th:text="${prod.supplier.getName()}">Supplier name</h4>
            <h4 class="lots-productname_text" th:text="${prod.name}">Product name</h4>
            <p class="lots-productdesc_text" th:text="${prod.description}">Product description... </p>
            <div class="lots-bot_divider"></div>
            <div class="lots-productcard_footer">
                <div class="lots-pricewrapper">
                    <div class="lots_price" th:text="${prod.getDefaultPrice()}">100</div>
                    <div class="lots-currency-icon"></div>
                </div>
            </div>
            <div class="lots_add-btn add-to-cart" th:data-id="${prod.id}"></div>
        </div>
    </div>

</div>

</body>
</html>
