<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common_head.html :: common_head(~{::title}, ~{::script})">
    <title>Checkout</title>
    <script src="/static/js/checkout.js" defer></script>
</head>
<body class="lots-main-page-body">
<div class="container lots-font-color-white">
    <div class="lots-title text-center mt-5">
        <a href="/"><img class="lots-title-image" src="/static/img/quest_store_title.png" alt="Quest Store"></a>
    </div>
    <form action="/checkout" method="post" class="lots-daughter-font">
        <div class="form-row">
            <div class="form-group">
                <h2 class="lots-subtitle">
                    <i class="far fa-list-alt lots-font-color-gold">
                    </i> Checkout</h2>
            </div>
        </div>
        <div class="form-row justify-content-end">
            <div class="form-group col-md-4">
                <label class="lots-input-label" for="inputName">Name</label>
                <input type="text" class="form-control lots-input-field" id="inputName" placeholder="Name"
                       name="inputName"
                       required
                       pattern="^(?:\p{L}|[_\- '.])+$">
            </div>
            <div class="form-group col-md-4">
                <label class="lots-input-label" for="inputEmail">Email</label>
                <input type="email" class="form-control lots-input-field" id="inputEmail" placeholder="Email"
                       name="inputEmail"
                       required>
            </div>
            <div class="form-group col-md-3">
                <label class="lots-input-label" for="inputPhoneNumber">Phone number</label>
                <input type="tel" class="form-control lots-input-field" id="inputPhoneNumber"
                       placeholder="Phone number"
                       name="inputPhoneNumber"
                       required
                       pattern="([0-9])+" minlength="7" maxlength="10">
            </div>
        </div>
        <div class="form-group">
            <h5 class="lots-form-title ml-4">Shipping Address</h5>
        </div>
        <div class="row justify-content-end">
            <div class="col-11">
                <label class="lots-input-label" for="inputShipAddress">Address</label>
                <input type="text" class="form-control lots-input-field" id="inputShipAddress"
                       placeholder="1234 Main St"
                       name="inputShipAddress"
                       required
                       pattern="^(?:\p{L}|[_\- .,/:0-9])+$">
            </div>
        </div>
        <div class="form-row justify-content-end">
            <div class="form-group col-md-5">
                <label class="lots-input-label" for="inputShipCity">City</label>
                <input type="text" class="form-control lots-input-field" id="inputShipCity"
                       name="inputShipCity"
                       required
                       pattern="^(?:\p{L}|[_\- ])+$">
            </div>
            <div class="form-group col-md-4">
                <label class="lots-input-label" for="inputShipCountry">Country</label>
                <input type="text" class="form-control lots-input-field" id="inputShipCountry"
                       name="inputShipCountry"
                       required
                       pattern="^(?:\p{L}|[_\- ])+$">
            </div>
            <div class="form-group col-md-2">
                <label class="lots-input-label" for="inputShipZip">Zip</label>
                <input type="text" class="form-control lots-input-field" id="inputShipZip"
                       name="inputShipZip"
                       required
                       pattern="(([0-9])+([-])*)*" minlength="4" maxlength="10">
            </div>
        </div>
        <div class="row justify-content-end">
            <div class="form-group col-11">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="sameAddressCheck" name="sameAddressCheck">
                    <label class="form-check-label lots-input-label" for="sameAddressCheck">
                        Billing address same as shipping
                    </label>
                </div>
            </div>
        </div>
        <!--Billing address-->
        <div id="billAddressForm">
            <div class="form-group">
                <h5 class="lots-form-title ml-4">Billing Address</h5>
            </div>
            <div class="row justify-content-end">
                <div class="form-group col-11">
                    <label class="lots-input-label" for="inputBillAddress">Address</label>
                    <input type="text" class="form-control lots-input-field" id="inputBillAddress"
                           placeholder="1234 Main St"
                           name="inputBillAddress"
                           required
                           pattern="^(?:\p{L}|[_\- .,/:0-9])+$">
                </div>
            </div>
            <div class="form-row justify-content-end">
                <div class="form-group col-md-5">
                    <label class="lots-input-label" for="inputBillCity">City</label>
                    <input type="text" class="form-control lots-input-field" id="inputBillCity"
                           name="inputBillCity"
                           required
                           pattern="^(?:\p{L}|[_\- ])+$">
                </div>
                <div class="form-group col-md-4">
                    <label class="lots-input-label" for="inputBillCountry">Country</label>
                    <input type="text" class="form-control lots-input-field" id="inputBillCountry"
                           name="inputBillCountry"
                           required
                           pattern="^(?:\p{L}|[_\- ])+$">
                </div>
                <div class="form-group col-md-2">
                    <label class="lots-input-label" for="inputBillZip">Zip</label>
                    <input type="text" class="form-control lots-input-field" id="inputBillZip"
                           name="inputBillZip"
                           required
                           pattern="(([0-9])+([-])*)*" minlength="4" maxlength="10">
                </div>
            </div>
        </div>
        <div class="row justify-content-end">
            <div class="go-to-pay text-center">
                <button type="submit" class="go-to-pay-btn">
                    <img src="/static/img/pay.png" alt="" class="lots-pay-png">
                </button>
            </div>
        </div>
    </form>
</div>
</body>
</html>