<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common_head.html :: common_head(~{::title}, ~{::script})">
    <title>Shopping cart</title>
    <script src="/static/js/shoppingcart.js" defer></script>
</head>
<body class="lots-main-page-body">
<div class="container-fluid">
    <div class="lots-title text-center mt-5">
        <a href="/"><img class="lots-title-image" src="/static/img/quest_store_title.png" alt="Quest Store"></a>
    </div>
</div>
<div class="container">

    <h2 class="lots-subtitle">Shopping cart</h2>

    <div id="shoppingcart_field" class="lots-justify-content-around">

        <div class="lots-product_wrapper" th:each="element : ${shoppingcart.getContent()}" th:id="'productItem_' + ${element.key.id}">
            <div class="lots-shoppingcart_product">
                <div class="lots-top_divider"></div>
                <h4 class="lots-supplier_text" th:text="${element.key.supplier.getName()}">Supplier name</h4>
                <h4 class="lots-productname_text" th:text="${element.key.name}">Product name</h4>
                <p class="lots-productdesc_text" th:text="${element.key.description}">Product description... </p>
                <div class="lots-bot_divider"></div>
                <div class="lots-productcard_footer">
                    <div class="lots-pricewrapper">
                        <div class="lots_price" th:text="${element.key.getDefaultPrice()}">100</div>
                        <div class="lots-currency-icon"></div>
                    </div>
                </div>
            </div>
            <div class="lots-justify-content-center">
                <div class="decrease_btn" data-process="decrease" th:data-id="${element.key.id}"><i class="fas fa-minus"></i></div>
                <span class="quantity_field" th:text="${element.value}">1</span>
                <div class="increase_btn" data-process="increase" th:data-id="${element.key.id}"><i class="fas fa-plus"></i></div>
            </div>
        </div>

    </div>
    <div class="row justify-content-end">
        <div class="lots-shopcart_total_price_wrapper">
            <div id="total_price_field" class="lots_price" th:text="${shoppingcart.sumCart()}">100</div>
            <div class="lots-currency-icon"></div>
        </div>
        <div class="go-to-chekout text-center">
            <a  class="go-to-checkout-btn" href="/checkout">
                <img src="/static/img/pay.png" alt="" class="lots-pay-png">
            </a>
        </div>
    </div>
</div>

</body>
</html>





