<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Codecool Shop</title>

    <!--Bootstrap-->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <!--Font Awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <!--Custom js-->
    <script src="/static/js/shoppingcart.js" defer></script>
    <!--Custom CSS-->
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css" />
    <!--Custom Font-->
    <link href="https://fonts.googleapis.com/css?family=Architects+Daughter|IM+Fell+English:400,400i" rel="stylesheet">
</head>
<body class="lots-main-page-body">
<div class="container-fluid">
    <div class="lots-title text-center mt-5">
        <a href="/"><img class="lots-title-image" src="/static/img/quest_store_title.png" alt="Quest Store">
    </div>
</div>
<div class="container">

    <h2 class="lots-subtitle">Shopping cart</h2>

    <div id="shoppingcart_field" class="lots-justify-content-around">

        <div class="lots-product_wrapper" th:each="element : ${shoppingcart.getContent()}" th:id="'productItem_' + ${element.key.id}">
            <div class="lots-shoppingcart_product">
                <div class="lots-top_divider"></div>
                <h4 class="lots-supplier_text" th:text="${element.key.supplier.getName()}">Supplier name</h4>
                <h4 class="lots-productname_text" th:text="${element.key.name}">Product name</h4>
                <p class="lots-productdesc_text" th:text="${element.key.description}">Product description... </p>
                <div class="lots-bot_divider"></div>
                <div class="lots-productcard_footer">
                    <div class="lots-pricewrapper">
                        <div class="lots_price" th:text="${element.key.getDefaultPrice()}">100</div>
                        <div class="lots-currency-icon"></div>
                    </div>
                </div>
            </div>
            <div class="lots-justify-content-center">
                <div class="decrease_btn" data-process="decrease" th:data-id="${element.key.id}"><i class="fas fa-minus"></i></div>
                <span class="quantity_field" th:text="${element.value}">1</span>
                <div class="increase_btn" data-process="increase" th:data-id="${element.key.id}"><i class="fas fa-plus"></i></div>
            </div>
        </div>

    </div>
    <div class="row justify-content-end">
        <div class="lots-shopcart_total_price_wrapper">
            <div id="total_price_field" class="lots_price" th:text="${shoppingcart.sumCart()}">100</div>
            <div class="lots-currency-icon"></div>
        </div>
        <div class="go-to-chekout text-center">
            <a  class="go-to-checkout-btn" href="/checkout">
                <img src="/static/img/pay.png" alt="" class="lots-pay-png">
            </a>
        </div>
    </div>
</div>

</body>
</html>





